{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "transform-class-properties",
        "@loadable/babel-plugin",
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
    ]
}