.panel {
    height: 100vh;
    width: 78px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #f5f6fa;
    z-index: 3;
    transition: filter .4s;
    transition: -webkit-filter .4s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
}